body {
    background: rgb(144,21,143);
background: linear-gradient(137deg, rgba(144,21,143,1) 0%, rgba(255,0,95,1) 100%);
    text-align:center;
}
.changed-bg{
background: rgb(96,0,0);
background: linear-gradient(218deg, rgba(96,0,0,1) 26%, rgba(255,0,0,1) 100%);
}
.big-title {
    font-size: 10rem;
    color: #dde000;
    font-family: 'Lobster', cursive;
}
h2{
    font-family: 'Lobster', cursive;
}
